<%- model_class = Transaction -%>
<div class="page-header">
  <h1>Mail Details</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:transaction_id) %>:</strong></dt>
  <dd><%= @transaction.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sender_mobile) %>:</strong></dt>
  <dd><%= @transaction.sender_mobile %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:sender_email) %>:</strong></dt>
  <dd><%= @transaction.sender_email %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:receiver_mobile) %>:</strong></dt>
  <dd><%= @transaction.receiver_mobile %></dd>
  <dt><strong><%= model_class.human_attribute_name(:receiver_emails) %>:</strong></dt>
  <dd><%= @transaction.receiver_emails %></dd>
  <dt><strong><%= model_class.human_attribute_name(:documents) %>:</strong></dt>
  <dd><%= @transaction.documents.count %></dd>
  <dt><strong>File names :</strong></dt>
  <dd><% @transaction.documents.each do |doc| %>
      <%= doc.doc_file_name %>
      <br>
    <% end %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              retailers_transactions_path, :class => 'btn'  %>
</div>
