<h2>Retailer Registration</h2>
<hr>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal left"}) do |f| %>
  <%#= devise_error_messages! %>
  <br>
  <%= f.input :first_name %>
  
  <%= f.input :last_name %>
  
  <%= f.input :mobile, :label => "Mobile" %>
  
  <%= f.input :email, :label => "Email" %>

  <%= f.input :password, :label => "Password" %>

  <%= f.input :password_confirmation, :label => "Password Confirmation" %>
  
  <%= f.input :age, :maxlength => 2%>
  
  <%= f.input :address, :as => "text", :input_html => {:rows => 3} %>
  
  <%= f.input :city %>
  
  <%= f.input :state %>
  
  <%= f.input :pincode, :maxlength => 6 %>
  

  <%= f.button :submit, "Register Retailer", :class => "btn btn-primary" %>
<% end %>
<% if current_user.blank? and current_retailer.blank? %>
  <div class="span4 left hidden-phone">
    <%= image_tag("mascot.jpg", :max_width => "200")%>
  </div>
<% end%>

<div class="clear"></div>
<%= render "devise/shared/links" %>
