<h1>eDakia's contact form</h1>

<p>Name: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Mobile: <%= @contact.mobile %></p>
<p>Company: <%= @contact.company %></p>
<p>Message: <%= @contact.message %></p>

Kindly reply to him ASAP.

-- eDakia Team