<%= simple_form_for @transaction, :html => { :multipart => true, :class => 'form-vertical' } do |f| %>

    <div id="receiver_mobile">
      <%= f.input :receiver_mobile, :label => 'Receiver Mobile', :placeholder => '98xxxxxx00', :input_html => {:class => "left"}%>
    </div>
    <div id="receiver_email" style="display:none">
      <%= f.input :receiver_email, :label => 'Receiver Email', :id => "receiver_email", :placeholder => 'user@domain.com', :input_html => {:class => "left"}%>
    </div>
    
    <div class="left" style="margin: -5px 0 0 20px;">
      <button id="mobile_toggle" type="button" class="btn btn-warning" data-complete-text="Email" data-toggle="button">Email</button>
    </div>
    
    <div class="clear"></div>
    
    <%= f.input :sender_mobile, :as => :hidden, :input_html => { :value => current_user.mobile } %>
    
    <%= f.simple_fields_for :documents, @transaction.documents.first do |document_form| %>
      <%= document_form.error :doc_content_type, :class => "alert alert-error" %>
      <%= document_form.error :doc_file_size, :class => "alert alert-error" %>
      <%= document_form.input :doc, :label => "Your File", :as => :file %>
    <% end%>
    <br>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.button :submit, "Send Mail", :class => "btn-large btn-primary" %>
    <%= link_to "Cancel", transactions_path, :class => "btn" %>
  
<% end %>