<%= simple_form_for @transaction, :html => { :multipart => true, :class => 'form-horizontal', :style=> "width: 50%;" } do |f| %>
    
    <% unless @transaction.errors.blank? %>
    <div class="alert alert-error">
      <% @transaction.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </div>
    <% end %>
    
    
    <div id="receiver_mobile">
      <%= f.input :receiver_mobile, :label => 'Receiver Mobile', :placeholder => '98xxxxxx00'%>
    </div>
    <div align="center">Or</div>
    <br>
    <div id="receiver_emails">
      <%= f.input :receiver_emails, :label => 'Receiver Email(comma separated)', :id => "receiver_emails", :placeholder => 'user@domain.com', :input_html => {:rows => "3"}%>
    </div>
    <%= f.input :sender_mobile, :as => :hidden, :input_html => { :value => current_user.mobile } %>
    <br>
    <%= f.simple_fields_for :documents, @transaction.documents.first do |document_form| %>
      <%= document_form.error :doc_content_type, :class => "alert alert-error" %>
      <%= document_form.error :doc_file_size, :class => "alert alert-error" %>
      <%= document_form.input :doc, :label => "Your File", :as => :file %>
    <% end%>
    <br>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= link_to "Cancel", transactions_path, :class => "btn" %>
    <%= f.button :submit, "Send Mail", :class => "btn-large btn-warning" %>
  
<% end %>