<%- model_class = Transaction -%>
<div class="page-header">
  <h1><%#=t '.title', :default => model_class.model_name.human.pluralize %>All Mails<%= " (#{number_to_phone(current_user.mobile)})"%></h1>
</div>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_transaction_path,
            :class => 'btn btn-primary' %>

<%= link_to "New Post",
new_transaction_path,
:class => 'btn btn-primary' %>
            
<table class="table table-striped">  
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= "Document" %></th>
      <th><%= model_class.human_attribute_name(:document_secret) %></th>
      <th><%= model_class.human_attribute_name(:sender_mobile) %></th>
      <th><%= model_class.human_attribute_name(:receiver_mobile) %></th>
      <!--<th><%#= model_class.human_attribute_name(:receiver_email) %></th> -->
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each_with_index do |transaction, i| %>
      <% unread = (current_user.id == transaction.receiver_id && transaction.unread?) ? "class='unread'" : ""%>
      <tr <%= unread %> >
        <td><%= link_to i+1, transaction_path(transaction) %></td>
        <td>
          <% transaction.documents.each do |doc| %>
            <%= link_to doc.doc_file_name, download_transaction_document_path(:transaction_id => transaction.id, :id => doc.id), :target => "_blank", :class => " btn btn-mini" %>
           <br>
          <% end %>
        
        <td><%= transaction.document_secret %></td>
        <td><%= transaction.sender_mobile %></td>
        <td><%= transaction.receiver_mobile %><br><%= transaction.receiver_email %></td>
        <!-- <td><%#= transaction.receiver_email %></td> -->
        <td><%#=l transaction.created_at %>
          <% if transaction.created_at.to_date == Date.today  %>
            <%= transaction.created_at.strftime("%I:%M %p")     %>
          <% else %>
            <%= transaction.created_at.strftime("%d-%b-%Y %I:%M") %>
          <% end   %>
        </td>
        <td>
          <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_transaction_path(transaction), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      transaction_path(transaction),
                      :method => :delete,
                      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


