<h1>Receive Mail</h1>

<%= form_for(@transaction, :url => receive_transactions_path,  :html => {:method => :get, :class => "form-vertical"}) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited to retreive Document</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr>
  <br>
  
  <div>
  <div class="control-group" id="receiver_mobile">
    <%= f.label :receiver_mobile, :class => 'control-label' %>
    <div class="controls left">
      <%= f.text_field :receiver_mobile, :class => 'text_field', :placeholder => '98xxxxxx00' %>
    </div>
  </div>
  
  <div class="control-group" id="receiver_email" style="display:none;">
    <%= f.label :receiver_email, :class => 'control-label' %>
    <div class="controls left">
      <%= f.text_field :receiver_email, :class => 'text_field', :placeholder => 'user@domain.com' %>
    </div>
  </div>
  
  <div class="left" style="margin: -5px 0 0 20px;">
    <button id="mobile_toggle" type="button" class="btn btn-warning" data-complete-text="Email" data-toggle="button">Email</button>
  </div>
  </div>
  <div class="clear"></div>
  
  <div class="control-group">
    <%= f.label :document_secret, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :document_secret, :class => 'text_field', :maxlength => 6 %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Receive Mail", :class => "btn-large btn-primary" %>
  </div>
<% end %>

<% if !current_user %>
  <%= link_to 'Login', new_user_session_url %> | <%= link_to 'Register', new_user_registration_url %>
<% end%>
