<h1>Receive Mail</h1>

<%= form_for(@transaction, :url => receive_transactions_path,  :html => {:method => :get}) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited to retreive Document</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr>
  <br>
  <div class="control-group">
    <%= f.label :receiver_mobile, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :receiver_mobile, :class => 'text_field' %>
    </div>
  </div>
  <p>Or</p>
  <div class="control-group">
    <%= f.label :receiver_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :receiver_email, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :document_secret, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :document_secret, :class => 'text_field' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Receive Mail", :class => "btn btn-primary" %>
  </div>
<% end %>

<% if !current_user %>
<%= link_to 'Login', new_user_session_url %> | <%= link_to 'Register', new_user_registration_url %>
<% end%>
