<%- model_class = Transaction -%>
<div class="page-header">
  <h1>Mail Details</h1>
</div>

<table class="table table-bordered" style="width:50%">  
  <tbody>
      <tr>
        <td>Mail ID</td>
        <td><%= @transaction.id %>
      <tr>
        <td>Sender Mobile</td>
        <td><%= @transaction.sender_mobile %></td>
      </tr>
      <tr>
        <td>Receiver Mobile</td>
        <td><%= @transaction.receiver_mobile %></td>
      </tr>
      <tr>
        <td>Receiver E-Mails</td>
        <td>
        <%= @transaction.receiver_email %><br>
        <% unless @transaction.receiver_emails.blank? %>
          <% @transaction.receiver_emails.split(",").each do |email| %>
            <%= email %>
            <br>
          <% end %>
        <% end %>
        </td>
      </tr>
      <tr>
        <td>Number of Files</td>
        <td><%= @transaction.documents.count %></td>
      </tr>
      <tr>
        <td>File Names</td>
        <td><% @transaction.documents.each do |doc| %>
          <%= link_to doc.doc_file_name, download_transaction_document_path(:transaction_id => @transaction.id, :id => doc.id), :target => "_blank" %>
         <br>
        <% end %>
        </td>
      </tr>
      <tr>
        <td>Sending Time</td>
        <td>
          <% if @transaction.created_at.to_date == Date.today  %>
            <%= @transaction.created_at.strftime("%I:%M %p")     %>
          <% else %>
            <%= @transaction.created_at.strftime("%d-%b-%Y %I:%M") %>
          <% end   %>
        </td>
      </tr>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              transactions_path, :class => 'btn'  %>
  <%#= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_transaction_path(@transaction), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              transaction_path(@transaction),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
              
</div>
