<h2>Update <%= resource_name.to_s.humanize %> Account Details</h2>
<hr>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :mobile, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mobile, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, :class => 'email_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %><i>(leave blank if you don't want to change it)</i>
    <div class="controls">
      <%= f.password_field :password, :autocomplete => "off", :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field' %>
    </div>
  </div>
  
  
  <div class="control-group">
    <%= f.label :current_password, :class => 'control-label' %><i>(we need your current password to confirm your changes)</i><br>
    <div class="controls">
      <%= f.password_field :current_password, :class => 'text_field' %>
    </div>
  </div>

  <div><%= f.submit "Save Account Details", :class => "btn btn-warning" %></div>
<% end %>


<%#= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>

<%= link_to "Back", :back %>
