<h2>eDakia Registration</h2>
<hr>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :mobile, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mobile, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field' %>
    </div>
  </div>

  <div><%= f.submit "Register", :class => "blue button" %></div>
<% end %>

<%= render "devise/shared/links" %>
